.signin-header {
  display: block;
}

.form-label {
  text-align: left;
  text-transform: capitalize;
}

.showPasswordButton {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
}

.hide {
  display: none;
}
