.signin-header {
  display: block;
}

.form-label {
  text-align: left;
  color: #777;
}

input {
  outline: 0;
  background-color: transparent;
  border: none;
}

.input-wrapper {
  border-radius: 0.5rem;
  border: 1px solid #777;
  display: inline-block;
  padding: 6px 20px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  width: 100%;
  outline: 0;
  border-width: 1px;
}

.showPasswordButton {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
}

.hide {
  display: none;
}

.link {
  color: #24b1fb;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  height: inherit;
  line-height: 1.3333333;
  text-align: center;
  text-decoration: none;
  padding: 10px 16px;
  touch-action: manipulation;
  user-select: none;
  white-space: nowrap;
  -moz-user-select: none;
  -ms-touch-action: manipulation;
  -ms-user-select: none;
  -webkit-user-select: none;
  width: auto;
  cursor: pointer;
}

.createAccountLink {
  animation: 0.5s ease-out 0s 1 slideInFromRight;
}

.forgotPasswordLink:before,
.createAccountLink:before {
  content: "(";
  color: black;
  padding-right: 2px;
}

.forgotPasswordLink:after,
.createAccountLink:after {
  content: ")";
  color: black;
  padding-left: 2px;
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
