/* Bootstrap overrides copied from TPS styles */

html,
:root {
  background: 0 0;
  font-size: 62.5%;
  /* Placeholder for new font */
  --font-family: Avenir Next, sans-serif;
  /* Colors */
  --dark-gold: #c87a15;
  --ps-gold: #ffb730;
  --light-gold: #ffe899;
  --dark-blue: #00233d;
  --ps-blue: #05354e;
  --medium-blue: #1e4c62;
  --light-blue: #377fa5;
  --cadet-blue: #5f9ea7;
  --powder-blue: #b2dee3;
  --light-sky-blue: #8dd7fd;
  --dodger-blue: #1eb1fc;
  --light-red: #fce5e3;
  --light-yellow: #fff6db;
  --light-green: #e2f3e4;
  --light-dodger: #dff4ff;
  --dark-red: #980d1d;
  --dark-yellow: #ac6100;
  --dark-green: #006a0c;
  --white: #fff;
  --gray-100: #eeeeee;
  --gray-200: #dddddd;
  --gray-300: #bbbbbb;
  --gray-400: #888888;
  --gray-500: #777777;
  --gray-600: #454545;
  --gray-700: #242424;
  --black: #000;
}

body {
  background-color: var(--ps-blue);
  font-family: var(--font-family);
  font-size: 1.5rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  height: 100vh;
}

.btn {
  font-size: 1.5rem;
  border-radius: 1rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.btn-primary {
  background-color: var(--dodger-blue);
  border: 1px solid transparent;
  text-transform: uppercase;
  vertical-align: middle;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  display: inline-flex;
  align-items: center;
  padding: 0 4.5rem;
  height: 5.5rem;
  font-size: 1.5rem;
  line-height: 2;
}
.btn-primary:hover {
  background-color: var(--light-sky-blue);
  border: 1px solid transparent;
}

.btn-primary:disabled {
  background-color: var(--light-dodger);
  border: 1px solid transparent;
}

.btn-link {
  color: var(--dodger-blue);
  font-weight: 700;
  text-decoration: none;
  touch-action: manipulation;
  user-select: none;
  vertical-align: baseline;
}

.btn-link:hover {
  color: var(--dodger-blue);
}

.input-group {
  border-radius: 0.5rem;
  border: 1px solid var(--gray-500);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  width: 100%;
  outline: 0;
  border-width: 1px;
}

.input-group .form-control {
  border-radius: 0.5rem;
  outline: 0;
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
}

/* Azure classes and ids */

#api,
#api-dev {
  flex-grow: 1;
}

#localAccountForm,
#localAccountForm-dev {
  background-color: var(--white);
  border-radius: 1rem;
  padding: 3rem;
}
.create {
  padding: 0.75rem 0;
  font-size: 1.2rem;
}
.buttons {
  text-align: center;
  padding: 2.5rem;
}

/* Custom CSS */

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.signInMessage {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
}

.formWrapper {
  padding: 2.5rem;
}

.labelWrapper {
  text-align: left;
  margin: 3.5rem 0 0.75rem;
}

.labelWrapper label {
  color: var(--black);
  font-weight: 700;
}

.liveValidationBlock {
  display: none;
  padding: 0.5rem 0;
  font-size: 0.8rem;
}

.inputWrapper__invalid .input-group {
  border-color: var(--dark-red);
}
.inputWrapper__invalid .liveValidationBlock {
  display: block;
}

.showPasswordButton {
  background-color: transparent;
  border: 1px solid transparent;
  text-transform: uppercase;
}

.createAccountLink {
  animation: 0.5s ease-out 0s 1 slideInFromRight;
}

.createAccountLink,
.forgotPasswordLink {
  margin-left: 0.5rem;
}

.forgotPasswordLink:before,
.createAccountLink:before {
  content: "(";
  color: var(--black);
  padding-right: 2px;
}

.forgotPasswordLink:after,
.createAccountLink:after {
  content: ")";
  color: var(--black);
  padding-left: 2px;
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
