html {
  background: 0 0;
}
body {
  font-family: Segoe UI, SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-attachment: fixed;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  height: 100vh;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
}

.liveValidationBlock {
  display: none;
  padding: 0.5rem 0;
  font-size: 0.8rem;
}

.inputWrapper__invalid .input-group {
  border-color: red;
}
.inputWrapper__invalid .liveValidationBlock {
  display: block;
}

.labelWrapper {
  text-align: left;
  color: #777;
  margin: 0.5rem 0 0.25rem;
}
.labelWrapper label {
  font-weight: 600;
}

.input-group {
  border-radius: 0.5rem;
  border: 1px solid #777;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  width: 100%;
  outline: 0;
  border-width: 1px;
}

.input-group .form-control {
  border-radius: 0.5rem;
  outline: 0;
  background-color: transparent;
  border: none;
}

.showPasswordButton {
  background-color: transparent;
  border: 1px solid transparent;
  text-transform: uppercase;
}

.link {
  color: #24b1fb;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  height: inherit;
  line-height: 1.3333333;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  user-select: none;
  white-space: nowrap;
  -moz-user-select: none;
  -ms-touch-action: manipulation;
  -ms-user-select: none;
  -webkit-user-select: none;
  width: auto;
  cursor: pointer;
}

.createAccountLink {
  animation: 0.5s ease-out 0s 1 slideInFromRight;
}

.createAccountLink,
.forgotPasswordLink {
  margin-left: 0.5rem;
}

.forgotPasswordLink:before,
.createAccountLink:before {
  content: "(";
  color: black;
  padding-right: 2px;
}

.forgotPasswordLink:after,
.createAccountLink:after {
  content: ")";
  color: black;
  padding-left: 2px;
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
