html,
:root {
  background: 0 0;
  font-size: 62.5%;
  /* Placeholder for new font */
  --font-family: niveau-grotesk, sans-serif;
  --font-weight-default: 400;
  --font-weight-bold: 700;

  /* Colors */

  --dark-blue: #00233d;
  --ps-blue: #05354e;
  --medium-blue: #1e4c62;
  --light-blue: #377fa5;
  --cadet-blue: #5f9ea7;
  --powder-blue: #b2dee3;
  --light-sky-blue: #8dd7fd;
  --dodger-blue: #1eb1fc;
  --light-dodger: #dff4ff;
  --dark-red: #980d1d;
  --white: #fff;
  --gray-100: #eeeeee;
  --gray-200: #dddddd;
  --gray-300: #bbbbbb;
  --gray-400: #888888;
  --gray-500: #777777;
  --gray-600: #454545;
  --gray-700: #242424;
  --black: #000;
}

body {
  background: transparent linear-gradient(to bottom, #1eb1fc 0%, #0064a4 100%)
    0% 0% no-repeat;
  font-family: var(--font-family);
  font-weight: var(--font-weight-default);
  font-size: 1.5rem;
  text-align: left;
  height: 100vh;
}

/* Azure ids */

#api,
#api-dev {
  flex-grow: 1;
}

#localAccountForm,
#localAccountForm-dev {
  background-color: var(--white);
  border-radius: 1rem;
  padding: 3rem;
}

/* Bootstrap overrides copied from TPS styles */

.btn {
  font-size: 1.5rem;
  border-radius: 1rem;
  font-weight: var(--font-weight-bold);
  text-align: center;
  text-decoration: none;
}

.btn-primary {
  background-color: var(--dodger-blue);
  border: 1px solid transparent;
  text-transform: uppercase;
  vertical-align: middle;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  display: inline-flex;
  align-items: center;
  padding: 0 4.5rem;
  height: 5.5rem;
  font-size: 1.5rem;
  line-height: 2;
}
.btn-primary:hover {
  background-color: var(--light-sky-blue);
  border: 1px solid transparent;
}

.btn-primary:disabled {
  background-color: var(--light-dodger);
  border: 1px solid transparent;
}

.btn-link {
  color: var(--dodger-blue);
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  touch-action: manipulation;
  user-select: none;
  vertical-align: baseline;
}

.btn-link:hover {
  color: var(--dodger-blue);
}

.input-group {
  border-radius: 1rem;
  border: 1px solid var(--gray-300);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  width: 100%;
  outline: 0;
}

.input-group .form-control {
  border-radius: 1rem;
  outline: 0;
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
}

/* Custom CSS */

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.signInMessage {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
}

.create {
  padding: 0.75rem 0;
  font-size: 1.2rem;
}

.formWrapper {
  padding: 2.5rem;
}

.labelWrapper {
  text-align: left;
  margin: 2.25rem 0 0.5rem;
}

.labelWrapper label {
  color: var(--black);
  font-weight: var(--font-weight-bold);
}

.liveValidationBlock {
  display: none;
  padding: 0.5rem 0;
  font-size: 0.8rem;
}

.inputWrapper__invalid .input-group {
  border-color: var(--dark-red);
}
.inputWrapper__invalid .liveValidationBlock {
  display: block;
}

.showPasswordButton {
  background-color: transparent;
  border: 1px solid transparent;
  text-transform: uppercase;
}

.createAccountLink,
.forgotPasswordLink {
  animation: 0.5s ease-out 0s 1 slideInFromRight;
}

.createAccountLink,
.forgotPasswordLink {
  margin-left: 0.5rem;
  padding-bottom: 0;
}

.forgotPasswordLink:before,
.createAccountLink:before {
  content: "(";
  color: var(--black);
  padding-right: 2px;
}

.forgotPasswordLink:after,
.createAccountLink:after {
  content: ")";
  color: var(--black);
  padding-left: 2px;
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.submitButtonWrapper {
  text-align: center;
  padding: 2.5rem;
}
